input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none


.container
  max-width: 800px
  width: 100%
  margin: 0 auto

.wrapper
  &-info
    display: flex
    max-width: 70%
    width: 100%
    padding-left: 20px
    padding-right: 60px
    border-right: 1px solid $main
  &-action
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    max-width: 30%
    width: 100%
    margin-right: 20px

.cart
  //background-color: lightgray
  //border: 1px solid black
  margin-top: 50px
  &-empty
    display: flex
    justify-content: center
    font-size: 26px
    color: $main
    padding: 30px 0
    border-bottom: 1px solid $main
    letter-spacing: 2px
  &-item
    display: flex
    min-height: 160px
    padding: 30px 0
    border-bottom: 1px solid $main

.item
  &-image
    height: 110px
    width: 110px
    margin-right: 30px
    border-radius: 10px
    box-shadow: 2px 10px 15px 0px rgba(0, 0, 0, 0.1)
    -webkit-box-shadow: 2px 10px 15px 0px rgba(0, 0, 0, 0.1)
    -moz-box-shadow: 2px 10px 15px 0px rgba(0, 0, 0, 0.1)
  &-info
    &-title
      color: #333
      margin-top: 0
    &-text
      font-size: 14px
      line-height: 1.5
      color: #666
  &-quantity
    display: flex
    justify-content: center
    width: 70%
    &-input
      width: 32px
      font-size: 14px
      font-weight: 300
      text-align: center
      color: #909090
      border: none

      -webkit-appearance: textfield
      -moz-appearance: textfield
      &:focus
        outline: none
  &-btn
    width: 30px
    height: 30px
    background-color: transparent
    border: 1px solid $main
    cursor: pointer
    &__icon
      &-minus
        margin-bottom: 3px
    &:focus
      outline: none
  &-price
    font-weight: 700
  &-trash
    position: absolute
    top: 0
    right: 0
    &-button
      font: inherit
      background: none
      color: $main
      border: none
      outline: inherit
      padding: 0
      cursor: pointer

.result
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-top: 40px
  padding: 0 10px
  &-price
    font-size: 26px
  &-btn
    font-size: 16px
    padding: 10px 45px
    margin-top: 20px
    text-transform: uppercase
    cursor: pointer


//Media queries

@media (max-width: 991.98px)
  .cart
    &-item
      flex-direction: column

  .wrapper
    &-info
      max-width: none
      //width: 95%
      padding: 0
      border-right: none
    &-action
      justify-content: flex-end
      max-width: none
      top: 30px
      margin-bottom: 20px

  .item
    &-image
      margin-left: 20px
    &-info
      margin-right: 20px
    &-quantity
      width: auto
      margin-right: 30px
    &-price
      margin-right: 30px
    &-trash
      position: initial
      margin-right: 20px

  .result
    margin-right: 20px
    padding: 0

@media (max-width: 575.98px)
  .wrapper
    &-info
      width: 100%
      margin: 0
    &-action
      position: initial
      top: initial
      margin-top: 70px
      margin-bottom: 0

  .cart
    margin: 0
    &-item
      position: relative

  .item
    &-image
      margin-left: 20px
    &-info
      margin-right: 20px
    &-quantity
      width: 100%
      margin-right: 0
    &-price
      position: absolute
      top: 170px
      left: 50px
      margin-right: 0
    &-trash
      position: absolute
      top: initial

  .result
    margin-top: 20px
    &-btn
      margin-top: 15px