select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  text-transform: uppercase
  cursor: pointer


.form-input:focus
  border-color: green !important
#selectOptions.form-input:focus
  border-color: #ced4da !important
.invalid
  border-color: red !important
  margin-bottom: 30px
.error
  position: absolute
  left: 0
  max-width: 300px
  font-size: 14px
  color: red !important
  margin-top: 45px
.valid
  border-color: green !important


.shipping
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  & > .container
    max-width: 500px
    width: 100%

.wrapper
  display: flex
  //flex-direction: column
  max-width: 300px
  width: 100%
  position: relative

.form
  max-width: 500px
  width: 100%
  &-group
    display: flex
    justify-content: space-between
  &-group:not(:first-child)
    margin-top: 20px
  &-group:last-child
    justify-content: flex-end
    align-items: initial
    margin-top: 60px
  &-label
    font-size: 1.125rem
    color: black
    margin-top: 15px
  &-input
    display: block
    width: 100%
    padding: 0.575rem 0.75rem
    font-size: 0.75rem
    line-height: 1.5
    color: #495057
    background-color: transparent
    outline: none
    box-shadow: none
    border: 1px solid #ced4da
    border-radius: .15rem
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    &:not([value=""]):not(:focus):invalid
      border: 2px solid red
    //&:valid
    //  border: 2px solid green
    //&:not(:invalid)
    //  border: 2px solid green
  &-pay
    font-size: 16px
    padding: 10px 45px
    text-transform: uppercase
    cursor: pointer

.arrow-down
  position: absolute
  right: 10px
  top: 12px
  font-size: 14px
  cursor: pointer
  z-index: -1

//Media queries

@media (max-width: 575.98px)
  .shipping
    & > .container
      margin: 0 15px

  .wrapper
    max-width: none

  .form
    &-label
      margin-bottom: 15px
    &-group
      justify-content: initial
      align-items: initial
      flex-direction: column